<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!-- Content for edit page-->
<div class="container">
    <div class="row">
    <div class="col-md-offset-3 col-md-6">
    <h1><%= title %></h1>
    <form class="form" method="post">
    
    <div class="form-group">
    <label for="nameTextField">Book Title</label>
    <input type="text" class="form-control"
    id="nameTextField"
    placeholder="Enter the Book Title"
    name="name" 
    value="<%= book.name%>"
    required>
    </div>

<div class="form-group">
    <label for="authorTextField">Author</label>
    <input type="text" class="form-control"
    id="authorTextField"
    placeholder="Enter the Books author"
    name="author" 
    value="<%= book.name%>"
    required>
    </div>

<div class="form-group">
    <label for="publishedjTextField">Year</label>
    <input type="text" class="form-control"
    id="publishedTextField"
    placeholder="Enter the year of publication"
    name="published" 
    value="<%= book.publsihed %>"
    required>
    </div>

<div class="form-group">
    <label for="descriptionTextField">Description</label>
    <textarea type="text" class="form-control"
    id="nameTextField"
    placeholder="Enter the description of book"
    nam="description" required>
    <%= book.description%>"
    </textarea>
    </div>

<div class="form-group">
    <label for="priceTextField">Price</label>
    <input type="number" class="form-control"
    id="priceTextField"
    placeholder="Enter the price of book"
    nam="price" 
    value="<%= book.price%>"
    required>
    </div>

<br>
<button class="btn-btn-primary" type="submit">
<i class="fas fa-edit"></i> Submit
</button>

<a href="/book-list" class="btn btn-warning">
<i class="fas fa-undo"></i> Cancel</a>
</form>
    </div>
    </div>
    </div>


<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs')%>