<%- include ('../views/partials/header.ejs') %>
<%- include ('../views/partials/main_nav.ejs') %>
<!-- Main Content -->
<main>
  <div class="container">
    <div class="row">
    <div class="col-md-offset-3 col-md-6">
    <h1><%= title %></h1>
    <br>
    <table class = "table-table-bordered table-striped table-hover">
    <tr>
    <th class ="text-centre col-2">Name</th>
    <th class ="text-centre col-2">Athor</th>
    <th class ="text-centre col-1">Published</th>
    <th class ="text-centre col-6">Description</th>
    <th class ="text-centre col-1">Price</th>
    </tr>
    <!-- repeat template -->
    <% for(let count= 0; count<booklist.length; count ++) {%>
        <tr>
        <td class="text-centre"><%= booklist[count].name %></td>
        <td class="text-centre"><%= booklist[count].Author %></td>
        <td class="text-centre"><%= booklist[count].Published %></td>
        <td class="text-centre"><%= booklist[count].Description %></td>
        <td class="text-centre"><%= booklist[count].Price %></td>
        </tr>

    <%} %>
    <table>
    </table>
    </div>
</div>
</main>
<%- include ('../views/partials/bottom_nav.ejs') %>
<%- include ('../views/partials/footer.ejs') %>
